@charset "utf-8";
/*Start of dropdown menu css*/
.dropbtn {
	background-color: blue;
	color: white;
	padding: 16px;
	font-size: 16px
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.menucontent{
	display:none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0,2);
	z-index: 1;
}

.menucontent a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.menucontent a:hover{
	background-color: yellow;
}

.dropdown:hover .menucontent{
	display: block;
}

/* .dropdown:hover .dropbtn{
	background-color: gray;
} */
/*End of dropdown menu css*/
